<div class="col">
  <%= form_for(@list) do |f| %>
    <div class="input-group">
      <%= f.text_field :title %>
      <div class="input-group-append">
        <%= f.submit 'Save Title', class: "btn btn-outline-success" %>
      </div>
    </div>
  <% end %>
</div>
