<h2>Edit your list:</h2>

<%= render 'form' %>

<ol>
  <% @products.each do |product| %>
    <li> <%= link_to product.name, product %> <%= button_to 'Delete', delete_product_path(:id => product.id) %></li>
  <% end %>
</ol>

<br><br>

<%= link_to 'Delete this list', delete_list_path, method: :delete, data: {confirm: "Are you sure?"} %>
