<h2 class="text-success">Your Lists:</h2>
<ul style= "list-style: none">
  <% @lists.each do |list| %>
    <li><%= link_to list.title, list %></li>
  <% end %>
</ul>

  <%= @no_lists %>

  <%= button_to 'New List', '/lists/new', method: :get, class: 'btn btn-outline-success' %>
