<div class="sm-container card">

  <div class=" lists-card">
      <div class="card-header">
        <h3><a class="text-success">Your Lists:</h3>
      </div>

      <div class="card-text ml-2 listed-lists">
        <ol style= >
          <% @lists.each do |list| %>
            <li><%= link_to list.title, list %></li>
          <% end %>
        </ol>

          <%= @no_lists %>
      </div>

      <div class="new-list">
          <%= button_to 'New List', '/lists/new', method: :get, class: 'btn btn-outline-success mb-3' %>
      </div>

    </div>


</div>
