<div class="welcome center">
  <%= render 'welcome' %>
  <div/>
    <%= button_to 'Signup', '/signup', method: :get, class: "btn btn-success" %>
    <%= button_to 'Login', '/login', method: :get, class: "btn btn-success" %>
  </div>
</div>
