/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .container{
   margin-top: 6rem;
 }

 .sm-container {
   max-width: 700px;
   margin-left: auto;
   margin-right: auto;
 }
 h1 {
   font-size: 2.5rem;
 }
   form {
     display: inline;
   }
   div.center {
     text-align: center;
     margin-top: 6rem;
     margin-bottom: 20px;
   }

   h1.main-head {
     font-size: 4rem;
     margin-bottom: 1rem;
   }

   div.log-sign {
     max-width: 270px;
     min-width: 270px;
     text-align: center;
     margin-left: 32%;
     margin-right: auto;
     display: inline-block;

   }

   .log-sign-field {
     text-align: left;
   }

   /* div.log-sign {

   } */

   .login-flash,
   .login-flash h2{
     text-align: left;
     font-size: 14px;
     color: red;
     height: 25px;
   }

   .login-container {
     position:relative;
   }
   .sign-errors.login-flash{
     position: relative;
     height: 125px;
     max-width: 215px;
     display: inline-block;
     margin-top: 15px;
}

   #sign-submit {
     margin-top: 15px;
   }

   #sign-errors {
    font-size: 14px;
    display: inline-block;
    height: 150px;
   }


   .welcome-user {
     font-size: 30px;
     font-family: Helvetica, sans-serif;
   }

   select {
     width: 185px;
   }

   .stores-products {
     width: 80%;
     min-width: 200px;
     height: 170px;
   }

   div.card-header h5 {
     max-height: 32px;
   }

   div.card-text p {
     margin-bottom: 0px;
   }


   /* Pages */

   .text-success {
     margin-bottom: 30px;
   }

   .center div.input-group {
     margin-left: auto;
     margin-right: auto;
     width: 280px ;
    }

   .show {
     margin: auto;
     margin-top: 32px;
     height: 400px;
     width: 500px;
     padding: 10px;

   }
