// Place all the styles related to the Lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.lists-card {
  min-height: 400px;
  position: relative;
}

.listed-lists {
    padding: 15px;
}

.listed-lists li, .listed-lists a {
  color: black;
  font-size: 20px;
}

.new-list {
  position: absolute;
  bottom: 0px;
  right: 40px;
}
